<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Foo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>appledoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>cocos2d-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>cocos2d-mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>cocos2d.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>cocos2dAndroid.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>cocos2dJava.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>cocos2dMacFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5018F24C0DFDEAC400C013A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BF32679195F8D8800D9A51A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A4037A719E37038007B6E8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B772F6B118120CC9005C069B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B77582D51A76D06600C8589F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B77582DF1A76D06600C8589F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B77583191A76D28E00C8589F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B77583231A76D28E00C8589F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7E7DE331A76DB7D004234B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7E7DE3D1A76DB7D004234B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2FEB60D194F6C9E00FC0574</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
